/* 
		_footer.scss
*/

/*
										---FOOTER---
*/


#footer{
	position: relative;
	//min-height: 150px;
	line-height: 170%;
	color: white;
	background-position: center -59px;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	background-color: $color-3;
	@media (max-width: 991px){
		overflow: hidden;
		//background-color: $color-1;
		.inline-list{
			display: none;
		}
	}
	hr{
		margin-top: 40px;
		border-style: dashed;
		@media (max-width: 991px) {
			margin-top: 0px;
		}
	}
	.entry-content{
		background-image: url('../img/bg/footer.jpg');
		background-size: cover;
		background-position: center;
	}
}
.footer-content{
	padding: 40px 0;
	display: flex;
	align-items: center;
	@media (max-width: 991px) {
		padding: 0px;
		display: block;
	}
	li{
		margin-top: 7px;
		margin-bottom: 7px;
	}
}

.footer-menu{
	margin-top: 20px;
	.list{
		opacity: 0.6;
	}
	display: flex;
	justify-content: space-between;
	.item{
		margin-left: 15px;
		margin-right: 15px;
	}
	@media (max-width: 991px){
		display: none;
	}
}
.footer-serach{
	@media (min-width: 992px){
		text-align: right;
	}
	input{
		background-color: transparent;
		border: none;
		border-bottom: 1px solid rgba(white, 0.3);
		padding-top: 8px;
		padding-bottom: 8px;
		color: white;
	}
	.input-content{
		position: relative;
		display: inline-block;
		input{
			min-width: 200px;
		}
		&:before{
			font: normal normal normal 14px/1 FontAwesome;
			content: "\f002";
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			font-size: 16px;
			position: absolute;
			pointer-events: none;
		}
		@media (max-width: 991px) {

		}
	}
}

.footer-socicons{
	font-size: 1.6em;
	li{
		&:not(:first-child){
			margin-left: 16px;
		}
	}
}

.footer-lang{
	text-align: center;
	@media (max-width: 991px){
		display: none;
	}
	li{
		position: relative;
		padding-left: 15px;
		padding-right: 15px;
		&:not(:last-child):before{
			@extend .clafclear;
			height: 100%;
			width: 1px;
			right: -1px;
			background-color: rgba(white, 0.5);
			@media (max-width: 991px){
				display: none;
			}
		}
	}
}

.copy-content{
	font-size: 0.85em;
	padding: 8px 0;
	color: white;
	background-position: center 0px;
	background-repeat: no-repeat;
	background-size: auto;
	.container{

	}

	.row{
		@media (min-width: 992px) {
			display: flex;
			align-items: center;
		}
	}
}

.copyright{
	
}
.dev{
}
.contacts-map{
	padding-top: 0;
	padding-bottom: 0;
}
#map-canvas{
	height: 400px;
	width: 100%;
}
@media (max-width: 991px) {
	#map-canvas{
		height: 240px;
		width: 100%;
	}
}